@font-face {
    font-family: montserrat-semi;
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype")
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype")
}

@font-face {
    font-family: montserrat-thin;
    src: url(../fonts/Montserrat-Thin.ttf) format("truetype")
}

body {
  background-color: #fff;
  color: #071C4D;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}


.custom-nav {
  font-family: 'montserrat-bold';
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: white;
  box-shadow: 0 15px 15px -15px rgba(0,0,0,.2);
}

.custom-nav-brand {
  margin-right: 100px;
}

.custom-navbar-nav .nav-item {
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}

.about-me p{
	font-family: montserrat-semi;
	color: black;
	font-size: 12px;
}

footer{
	background: #0d1837;
	padding: 50px;
}

footer .about-me{
	margin-bottom: 20px;
}

footer .about-me h3{
	font-family: montserrat-bold;
}

footer .about-me span{
	font-family: montserrat-thin;
	font-size: 13px;

}

footer .contact h3{
	font-family: montserrat-bold;
}

footer .contact span{
	font-family: montserrat-thin;
	font-size: 13px;
}
